<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- teste Drop and re-create the database schema on startup 
        validate: validate the schema, makes no changes to the database.
		update: update the schema.
		create: creates the schema, destroying previous data.
		create-drop: drop the schema at the end of the session.
        -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Names the annotated entity class -->
        <mapping class="br.com.bup.domain.Agencia"/>
        <mapping class="br.com.bup.domain.Anunciante"/>
        <mapping class="br.com.bup.domain.ContaBancariaUsuario"/>
        <mapping class="br.com.bup.domain.EspacoPropaganda"/>
        <mapping class="br.com.bup.domain.HistoricoAluguelEspaco"/>
        <mapping class="br.com.bup.domain.LancesLeilao"/>
        <mapping class="br.com.bup.domain.Leilao"/>
        <mapping class="br.com.bup.domain.Midia"/>
        <mapping class="br.com.bup.domain.ModalidadePagamento"/>
        <mapping class="br.com.bup.domain.PublicoAlvo"/>
        <mapping class="br.com.bup.domain.Usuario"/>
    </session-factory>
</hibernate-configuration>


<!--  BANCO EM MEMORIA... lembre de descomentar a linha <groupId>com.h2database</groupId> no pom....

<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="connection.pool_size">1</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <mapping class="br.com.bup.domain.Agencia"/>
        <mapping class="br.com.bup.domain.Anunciante"/>
        <mapping class="br.com.bup.domain.ContaBancariaUsuario"/>
        <mapping class="br.com.bup.domain.EspacoPropaganda"/>
        <mapping class="br.com.bup.domain.HistoricoAluguelEspaco"/>
        <mapping class="br.com.bup.domain.LancesLeilao"/>
        <mapping class="br.com.bup.domain.Leilao"/>
        <mapping class="br.com.bup.domain.Midia"/>
        <mapping class="br.com.bup.domain.ModalidadePagamento"/>
        <mapping class="br.com.bup.domain.PublicoAlvo"/>
        <mapping class="br.com.bup.domain.Usuario"/>
    </session-factory>
</hibernate-configuration>
 -->


